.greeting {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -28px;
  margin-bottom: 30px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  height: 389px;
}

.greeting::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 26px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-size: 100% 26px;
}

@media (min-width: $tablet-width) {
  .greeting::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    background-size: 100% 57px;
  }
}

@media (min-width: $desktop-width) {
  .greeting::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1200px;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }
}

@media (min-width: $tablet-width) {
  .greeting {
    background-image: url("../img/back-desktoptab.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 518px;
    margin-bottom: 42px;
  }
}

@media (min-width: $desktop-width) {
  .greeting {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    margin-bottom: 54px;
    height: 518px;
  }
}

.greeting__item-text {
  margin-top: -12px;
}

@media (min-width: $tablet-width) {
  .greeting__item-text {
    margin-top: 75px;
    width: 461px;
    height: 350px;
  }
}

@media (min-width: $desktop-width) {
  .greeting__item-text {
    width: 459px;
    height: 349px;
  }
}

.greeting--inner-page {
  position: relative;
  display: flex;
  margin: 0;
  margin-top: -30px;
  margin-bottom: 25px;
  background-image: url("../img/Back-mobcatalog.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 157px;
}
