.greeting {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -30px;
  margin-bottom: 40px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  height: 389px;
}

.greeting::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 320px;
  height: 26px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
}

@media (min-width: $tablet-width) {
  .greeting::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 768px;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
  }
}

@media (min-width: $desktop-width) {
  .greeting::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1200px;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }
}

@media (min-width: $tablet-width) {
  .greeting {
    background-image: url("../img/back-desktoptab.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 518px;
  }
}

@media (min-width: $desktop-width) {
  .greeting {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 518px;
  }
}

@media (min-width: $tablet-width) {
  .greeting__item-text {
    margin-top: 77px;
    width: 461px;
    height: 350px;
  }
}

@media (min-width: $desktop-width) {
  .greeting__item-text {
    width: 459px;
    height: 349px;
  }
}

.greeting--inner-page {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
