.intro {
  margin: 0 auto;
  margin-bottom: 12px;
  padding: 0 20px;
  text-align: center;
}

.intro-form {
  margin-bottom: 37px;
}

.intro__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: $font-size-large;
  line-height: 26px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .intro {
    padding: 0 140px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding: 0 295px;
    margin-bottom: 42px;
  }
}

@media (min-width: $tablet-width) {
  .intro__title {
    font-size: $font-size-heading;
    font-weight: 700;
  }
}

@media (min-width: $tablet-width) {
  .intro__title br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .intro__title--photo {
    font-size: 30px;
  }
}

@media (min-width: $tablet-width) {
  .intro__title--form {
    font-size: 30px;
  }
}

.intro__subtitle {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  line-height: 26px;
  color: $darkgray;
}

.intro__text {
  margin: 0;
  padding: 0;
  line-height: 24px;
  color: #333333;
}
