.page-header {
  margin: 0;
}

.page-header__logo {
  order: 2;
  text-align: center;
  z-index: 1;

  height: 84px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 101px;
    height: 84px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 186px;
    height: 96px;
  }
}
