.page-header {
  margin: 0;
}

.page-header__logo {
  order: 2;
  text-align: center;

  height: 84px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    position: absolute;
    left: 50%;
    top: 105%;
    transform: translate(-50%, -50%);
    width: 101px;
    height: 84px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    position: absolute;
    left: 50%;
    top: 121%;
    transform: translate(-50%, -50%);
    width: 186px;
    height: 96px;
  }
}
