.photo-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .photo-list {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: $tablet-width) {
  .photo-list__item--first {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: $tablet-width) {
  .photo-list__img {
    background-image: url("../img/photo-sunset-tablet@2x.jpg");
    width: 648px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .photo-list__img {
    background-image: url("../img/photo-sunset-desktop@1x.jpg");
    width: 1200px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .photo-list {
    display: grid;
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
  }
}

@media (min-width: $desktop-width) {
  .photo-list__item--first {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.photo-list__item {
  text-align: center;
}

.photo-list__content {
  margin: 0;
  padding: 0;
}

.photo-list__link {
  display: block;
}

.photo-list__title {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-weight: 700;
  line-height: 24px;
}

.photo-list__author {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  line-height: 24px;
  color: $darkgray;
  text-transform: none;
}

.photo-list__text {
  margin: 0;
}
