.social {
  margin-bottom: 45px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-left: 84px;
  padding-right: 85px;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .social__list {
    padding-left: 74px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
}

@media (min-width: $tablet-width) {
  .social__link--twitter {
    margin-right: 6px;
  }
}

@media (min-width: $tablet-width) {
  .social__link--facebook {
    margin-right: 6px;
  }
}
